{{define "members"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- cities, group where was -->

    {{$ID := .IDS}}
    {{$ID2 := .ID}}


    <h2>{{ (index .Artist $ID2).Name}} </h2>

    <label>First album:</label>
    {{ (index .Artist $ID2).FirstAlbum}}
    </div>


    <div class="container">
        <label>Creation Date:</label>
        {{ (index .Artist $ID2).CreationDate}}
    </div>


    <div class="container">
        <div class="row">

            <div class="col">
                <img class="img-artist" src=" {{ (index .Artist $ID2).Image}}" />
            </div>
            <div class="col">
                {{range  (index .Artist $ID2).Members  }}
                <ul class="list-group">
                    <li class="list-group-item"> {{ . }}</li>
                </ul>
                {{end}}
            </div>

            <div class="col">
                <div class="table">
                    <table>

                        <tbody>
                            {{range $v := (index .LocationsHtml.Index $ID2).Locations }}
                            <tr>
                                <td onclick="test(`${$v}`)"> {{ $v }} </td>

                                {{end}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table">
                    <table>
                        <tbody>

                            {{range  $s2 := (index .RelationHtml.Index $ID2).DatesLocations }}
                            <tr>
                                <td>{{ $s2 }} </td>
                                {{end}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>





    <h2>{{ (index .Artist $ID).Name}} </h2>

    <label>First album:</label>
    {{ (index .Artist $ID).FirstAlbum}}
    </div>


    <div class="container">
        <label>Creation Date:</label>
        {{ (index .Artist $ID).CreationDate}}
    </div>


    <div class="container">
        <div class="row">

            <div class="col">
                <img class="img-artist" src=" {{ (index .Artist $ID).Image}}" />
            </div>
            <div class="col">
                {{range  (index .Artist $ID).Members  }}
                <ul class="list-group">
                    <li class="list-group-item"> {{ . }}</li>
                </ul>
                {{end}}
            </div>

            <div class="col">
                <div class="table">
                    <table>

                        <tbody>
                            {{range $v := (index .LocationsHtml.Index $ID).Locations }}
                            <tr>
                                <td onclick="test(`${$v}`)"> {{ $v }} </td>
                                //
                                {{end}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table">
                    <table>
                        <tbody>

                            {{range  $s2 := (index .RelationHtml.Index $ID).DatesLocations }}
                            <tr>
                                <td>{{ $s2 }} </td>
                                {{end}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <a class="btn btn-primary" href="/"> go back</a>
    </div>
</body>

</html>
{{end}}